@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Sacramento');

body {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Noto Sans JP', sans-serif;}



/* header */
header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  height: 500px;
  position: relative;
}
.header-nav {
  position: fixed;
  display: block;
  width: 100%;
  background-color: rgba(213,210,209,0.5);
}
.header-nav ul {
  margin: 0;
}
.header-nav ul li {
  display: inline-block;
  color: white;
  width: 100px;
  height: 85px;
  line-height: 85px;
  text-align: center;
}
.header-nav ul li a {
  display: inline-block;
  color: white;
  width: 100px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  text-decoration: none;
}
.header-nav ul li:hover {
  background-color: #f0edec;
  color: black;
}
.header-nav ul li a:hover {
  background-color: #f0edec;
  color: black;
}
.logo {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-size: 20px;
}
.header-text {
  color: white;
  font-size: 2.5vw;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 20px;
  font-style: italic;
  text-shadow: 1px 1px 2px gray;
}
.header-text br {
  display: none;
}
@media screen and (max-width: 640px){
  .header-text br {
    display: inline-block;
  }
  .header-text {
    font-size: 30px;
  }
  .header-text {
    top: 30%;
  }
}

/* lineup */
.lineup {
  margin: 100px auto;
  text-align: center;
}
.lineup h1 {
  text-align: center;
  font-size: 60px;
  font-family: 'Sacramento', cursive;
  border-bottom: 2px solid black;
  display: inline-block;
}
.container {
  width: 900px;
  margin: 0 auto;
}
.lineup ul {
  text-align: center;
}
.lineup-list {
  display: inline-block;
  width: 30%;
  padding: 5px;
}
.lineup-list img {
  width: 50%;
}
.lineup-item1 {
  background-color: #ffe4e1;
  padding: 50px;
  text-align: center;
}
.lineup-item2 {
  background-color: #f8ecdb;
  padding: 50px;
  text-align: center;
}
.lineup-item3 {
  background-color: #d8f5db;
  padding: 50px;
  text-align: center;
}
.item-name {
  display: block;
  color: #20639B;
  font-weight: bold;
}
.item-more {
  display: inline-block;
  border-radius: 50px;
  padding: 10px 15px;
  color: white;
  margin-top: 15px;
  text-decoration: none;
  font-size: 14px;
}
.item-more:hover {
  opacity: 0.6;
}
.item1 {
  background-color: #BFABA9;
}
.item2 {
  background-color: #BAB1A4;
}
.item3 {
  background-color: #A2B8A4;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }

}
@media screen and (max-width: 700px) {
    .lineup-list {
      display: block;
      width: 80%;
      padding: 5px;
      margin: 0 auto;
    }
    .lineup-list img {
      width: 60%;
    }
}

/* worries */
.worries {
  background-color: #f0edec;
  padding: 80px 0;
}
.worries ul {
  text-align: center;
}
.worries-title {
  display: inline-block;
}
.worries-left {
  width: 55%;
  font-size: 20px;
}
.worries-left h1 {
  text-decoration: underline red;
}
.worries-right {
  width: 15%;
} 
.worries-right img {
  width: 100%;
}
.worries-container {
  width: 70%;
  background-color: white;
  margin: 50px auto;
  padding: 50px;
}
.worries-text {
  font-size: 30px;
  padding-left: 40px;
  position: relative;
}
.worries-text:before, .worries-text:after {
  content:"";
  display: block;
  position: absolute;
}
.worries-text:before {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #000;
  left: 0;
  top: 2px;
}
.worries-text:after {
  border-left: 2px solid #ff0000;
  border-bottom: 2px solid #ff0000;
  width: 28px;
  height: 10px;
  transform: rotate(-45deg);
  left: 5px;
  top: 3px;
}

.arrow{
  position: relative;
  width: 100px;
  height: 50px;
  border-right: 50px solid #BAB1A4;
  box-sizing: border-box;
  margin: 0 auto;
}

.arrow::after{
  content: "";
  position: absolute;
  bottom: -27px;
  right: -70px;
  border-top: 45px solid #BAB1A4;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
}
.arrow-under {
  margin: 50px auto;
  text-align: center;
  font-size: 40px;
}
.num {
  color: red;
  font-size: 50px;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .worries-container {
    width: 70%;
    background-color: white;
    margin: 50px auto;
    padding: 50px;
  }
  .arrow-under {
    font-size: 25px;
  }
  .num {
    font-size: 40px;
  }
}

/* feature */
.feature-1 {
  padding-top: 100px;
}

.container-flex {
  margin: 20px auto;
  display: flex;
  width: auto;
  height: 400px;
  justify-content: space-between;
}
.container-flex:nth-child(even) {
  flex-direction: row-reverse;
}


.feature-text {
  width: 43%;
  background-color: #ffe4e1;
  padding: 15px;
  text-align: center;
}
.feature-img {
  width: 54%;
  height: 100%;
}
.feature-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.num2 {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  background-color: white;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
}
.feature h1 {
  border-bottom: dashed 2px white;
}
.yellow {
  background-color: #f8ecdb;
}
.green {
  background-color: #d8f5db;
}

/* question */
.question {
  margin: 80px auto;
  text-align: center;
}

.question h1 {
  font-family: 'Sacramento', cursive;
  display: inline-block;
  border-bottom: 2px solid black;
  font-size: 40px;
  font-weight: bold;
}
.question-box input {
  display: none;
}
.question-box {
  text-align: left;
}
.answer {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
  background-color: #f0edec;
}
.question-box input:checked ~ .answer {
  padding: 10px 10px;
  height: auto;
  opacity: 1;
}
.q {
  border-top: 1px solid #f0edec;
  padding: 30px 0 30px 10px;
  display: block;
  position: relative;
}
.q2 {
  border-bottom: 1px solid #f0edec;
}
.icon {
  color: #c6c3c2;
  font-size: 35px;
  position: absolute;
  top: 15px;
  right: 10px;
}
footer {
  height: 100px;
  background-color: #c6c3c2;
  text-align: center;
}
footer a {
  line-height: 100px;
  color: white;
}
